@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    overflow-x: hidden !important ;
}
:root{
    --mainColor: #299FC8;
    --secondaryColor: #ffffff;
    --darkModeMainColor: #080b25;
}
@keyframes menuOpen {
    from{width: 4em;}
    to{width: 300px;}
}
@keyframes menuClose {
    from{width: 300px;}
    to{width: 4em;}
}
@keyframes mainAnim {
    from{margin-left: 0em;}
    to{margin-left: 4em;}
}
@keyframes apear {
    from{opacity: 0;};
    to{opacity: 1;}
}
@keyframes disapear {
    from{opacity: 1;}
    to{opacity: 0;}
}
@media only screen and (max-width: 480px)  {
    body{
        overflow-x: hidden !important ;
        .container{
            display: flex;
            position: relative;
            width: 100%;
            height: 100vh;
            .h-menu-closed{
                display: flex;
                position: fixed;
                flex-direction: column;
                width: 4em;
                height: 100%;
                padding: 0.5em;
                background-color: var(--mainColor);
                align-items: center;
                animation: menuClose 0.5s;
                .h-menu{
                    width:fit-content;
                    margin-bottom: 1em;
                    padding: 0.5em;
                    animation: apear 1s;
                    img{
                        height: 36px;
                        width: inherit;
                        
                    }
                } 
                .pp-closed{
                        width: inherit;
                        height: fit-content;
                        img{
                            width: 80%;
                            border-radius: 50%;
                            border: solid var(--secondaryColor) 2px;
                            animation: apear 1s;
                        }
                    }
            }
            
            .h-menu-opened{
                display: none;
                flex-direction: column;
                position: fixed;
                width: 300px;
                height:100%;
                padding: 0.5em;
                background-color: var(--mainColor);
                color:var(--secondaryColor);
                animation: menuOpen 0.5s;
                .close-btn{
                    height: 36px;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    animation: apear 1s;
                }
                .open-menu-container{
                    height: inherit;
                    width: inherit;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    animation: apear 1.9s;
                    .intro{
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .pp-opened{
                            width: 200px;
                            height: cover;
                            border-radius: 50%;
                            border: solid var(--secondaryColor) 5px;
                            box-shadow: black 0px 10px 15px;
                            
                        }
                        h1{
                            width: 90%;
                            height: fit-content;
                            margin-top: 0.5em;
                            font-size: 2em;
                            justify-content: center;
                            text-align: center;
                            overflow-y: hidden;
                        }
                        p{
                            width: 90%;
                            height: fit-content;
                            margin-top: 1em;
                            justify-content: center;
                            text-align: justify;
                            overflow-y: hidden;
                            
                        }
                    }
                    .menu{
                        width: 90%;
                        height: fit-content;
                        margin-top: 1em;
                        justify-content: center;
                        overflow-y: hidden;
                        ul{
                            width: 100%;
                            height: fit-content;
                            display: flex;
                            flex-direction: column;
                            li{
                                height: 36px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                list-style: none;
                                margin-left: 1em;
                                a{
                                    margin-left: 1em;
                                    text-decoration: none;
                                    color: var(--secondaryColor);
                                }
                                
                            }
                            li:hover{
                                background-color: var(--secondaryColor);
                                a{
                                    color: var(--mainColor);
                                }
                            }
                        }
                    }
                    .rating{
                        height: 5rem;
                        width: 100%;
                        margin-bottom: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        justify-self:flex-end;
                        p{
                            font-size: 1.5em;
                        }
                    }
                }
            }
            .main-page{
                max-width: calc(100%-4em);
                display: flex;
                flex-direction: column;
                justify-self: right;
                justify-content: center;
                align-items: flex-end;
                height: 100%;
                margin-left: 4.2em;
                .card-container{
                    width: 85%;
                    padding: 1em;
                    height: fit-content;

                }
            }
        }
    }
}   